/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Google Noto sans font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* @import url("https://use.typekit.net/qzp1ird.css"); */

*,*::before,*::after {
    box-sizing : border-box ;
    }

html,
body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    position: relative;
    margin: 0;
    /* overflow: hidden; */
    /* height: 100vh; */
  }

/* sidebar */
  main {
    overflow-y: auto;
  }

  aside {
    border-right:  1px solid #000;
    background: rgb(240, 240, 240);
    flex: 1 1 15%;
    /* padding: 1.2rem; */
  }

  .wrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
    height: 100vh;
  }

  .header{
    display: flex;
    /* justify-content: space-between; */
  }

  .sidebar .WJ{
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: 1.2rem;
    text-decoration: none;
    color: #000;
  }

  .WJ{    
    transition: 0.3s;
  }

  .WJ:hover{
    transform: translate(0 , 8%);
  }

  .sidebar ul {
    margin-top: 5rem;
    padding: 1.2rem;
  }

  .sidebar li{
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.8rem;
      letter-spacing: 0.07rem;
  }

  .sidebar li a{
    text-decoration: none;
    color: rgb(133, 133, 133);
    transition: 0.1s;
  }

  .sidebar li a:hover{
    background-color: #fff;
    color: #000;
    padding-left: 1rem;
  }

  .sidebar_mobile{
    display: none;
  }

  .copyright{
    position: absolute;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
    color: rgb(138, 138, 138);
    left: 2%;
    bottom: 2%;
  }

  .copyright_mobile{
    display: none;
  }

  @media screen and (max-width:768px) {
    .wrapper{
      height: auto;
      flex-direction: column;
    }
    .sidebar{
      display: none;
    }
    .fixed{
      position: fixed;
      width: 100%;
    }
    .sidebar_mobile{
      display: block;
      background: rgb(240, 240, 240);
    }
    .header{
      display: flex;
      justify-content: space-between;
    }
    .sidebar_mobile .WJ{
      font-weight: 500;
      padding: 1.2rem;
      text-decoration: none;
      color: #000;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      margin-top: 0;
    }
    .hamburger{
      width: 1rem;
      height: 1rem;
      background-color:#000;
      border: 1px solid #000;
      border-radius: 50%;
      margin: 1.45rem;
      cursor: pointer;
    }
    /* 點擊hamburger */

    .sidebar_mobile{
      position: relative;
    }
    .sidebar_mobile ul{
      /*隱藏選單開始*/
      height: 0px;
      overflow: hidden;
      /*隱藏選單結束*/
      display: block;
      position: absolute;
      background-color: #000;  
      margin: 0;
      padding: 0;
      left: 0;
      right: 0;         
    }
    .sidebar_mobile li{
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.8rem;
      letter-spacing: 0.07rem;
      color: rgb(133, 133, 133);
    }
    .sidebar_mobile li a{
      text-decoration: none;
      color: rgb(133, 133, 133);
      transition: 0.1s;
    }
  
    .sidebar_mobile li a:hover{
      background-color: #fff;
      color: #000;
      padding-left: 1rem;
    }
    .mobile_menu .sidebar_mobile ul{
      height: 100vh;
      transition: all 1.0s; 
    }
    .mobile_menu .sidebar_mobile li{
      padding: 1.2rem;
    }
    .mobile_menu .sidebar_mobile li a:hover{
      background-color: #000;
      color: #fff; 
    }
    .mobile_menu .hamburger{
      background: rgb(240, 240, 240);
    }
    /* 點擊hamburger end */


    .copyright_mobile{
      padding: 5%;
      background-color: #000;
      display: block;
      font-weight: 400;
      font-size: 0.6rem;
      line-height: 1.2rem;
      letter-spacing: 0.05rem;
      color: rgb(138, 138, 138);
    }
  }
  /* sidebar end */

  .content {
    font-family: hero-new,sans-serif;
  }

  /* Email */
  .collab{
    color: #fff;
    background-color: #000;
    padding: 1rem 5%;
    font-weight: 300;
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .collab a{
      color: #000;
      background-color: #fff;
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      transition: 0.1s;
  }

  .collab a:hover{
      padding-left: 1rem;
  }

  .collab button{
    cursor: pointer;
    background-color: #000;
    color: #fff;
      display: inline-block;
      font-size: 0.6rem;
      font-weight: 400;
      border: 1px solid #fff;
      padding: 5px 7px;
      border-radius: 50px;
      letter-spacing: 0.05rem;
      margin-left: 0.4rem;
  }

  .collab button:hover{
    background-color: #fff;
    color: #000;
  }
  /* Email end */

  /* bio */
  .bio{
      border-bottom: 1px solid #000;
      display: flex;
      padding: 5%;
      font-family: hero-new,sans-serif;
  }

  .bio h2{
    width: 30%;
    /* margin: 0px auto; */
    font-weight: 500;
    font-style: normal;
    letter-spacing : 0.02rem;
    font-size: 2.3rem;
    line-height: 3rem;
    text-align: left;
  }

  .bio_content{
    width: 55%;
    margin-left: 5%;
    /* margin: 0px auto; */
    font-weight: 500;
    font-style: normal;
    line-height : 1.8rem;
    letter-spacing : 0.04rem;
    font-size: 1rem;
    text-align: left;
  }

  .bio_content .small{
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing : 0.08rem;
    padding: 0 1rem 0 0;
  }

  .tag{
      background-color: #fff;
      display: inline-block;
      margin: 0.8rem 0.4rem 0 0;
      font-size: 0.8rem;
      font-weight: 400;
      border: 1px solid #000;
      padding: 2px 15px;
      border-radius: 50px;
      letter-spacing: 0.05rem;
  }

  @media (max-width: 768px) {
    .content{
      margin-top: 62px;
    }
    .bio{
      display: block;
    }
    .bio h2{
      width: 100%;
    }
    .bio_content{
      width: 100%;
      margin-left: 0;
      margin-top: 5%;
    }
  }
  /* bio end */

  /* gallery */
  .gallery{
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 5%;
    clear: both;
    display: table; 
  }

  .work li{
    background-color: #fff;
    width: 29.333%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 2%;
  }

  .work img{
    width: 100%;
    display: block;
    margin: 0 auto 5% auto;
    border-radius: 10px;
  }

  .work img:hover{
    border: #000 solid 1px;
  }

  .work h4{
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.08rem;
    text-align: center;
  }

  .work_label{
    font-size: 0.7rem;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding:0.2rem 0.4rem;
    border-radius: 4px;
  }

  .work h5{
    font-size: 0.7rem;
    line-height: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-align: center;
  }

  .work .date{
    font-size: 0.7rem;
    line-height: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-align: center;
    color: rgb(105, 105, 105);
  }

  .work a{
    text-decoration: none;
  }

  .work_btn{
    width: 50%;
    color: rgb(116, 116, 116);
    /* display: inline-block; */
    font-size: 0.8rem;
    font-weight: 300;
    border: 1px solid rgb(179, 179, 179);
    padding: 10px 15px;
    border-radius: 50px;
    letter-spacing: 0.05rem;
    margin: 5% auto 0 auto;
    text-align: center;
  }

  .work_btn:hover{
    color: #fff;
    background-color: #000;
  }

  @media (max-width: 1200px) {
    .work_btn{
      width: 62%;
      margin-bottom: 3%;
    }
  }

  @media (max-width: 1000px) {
    .work_btn{
      width: 85%;
    }
  }

  @media (max-width: 768px) {
    .work li{
      width: 46%;
    }
    .work_btn{
      width: 62%;
    }
  }

  @media (max-width: 680px) {
    .work_btn{
      width: 85%;
    }
  }

  @media (max-width: 550px) {
    .work_btn{
      width: 95%;
    }
  }

  @media (max-width: 380px) {
    .work li{
      width: 96%;
    }
    .work_btn{
      width: 50%;
    }
  }
